.title{
    font-size: 50px;
    color: rgb(255, 102, 0);
    font-family: "Bubble Letters";
    align-items: center;
}



.introImageContainer{
    display: flex;
    flex-direction: row;
}

.infoContainer{
    display: flex;
    flex-direction: column;
}

.aboutPage{
    padding-left: 10%;
    padding-right: 10%
}


.navBar{

}

.navBarHome, .navBarPortfolio, .res{
border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 102, 0);
    font-family: "Liquid"; 
    box-shadow: none;
    background: none;
    transition: transform 0.3s;
}


.intro{
    font-size: 18px;
    font-family:  'Zen Kaku Gothic New', sans-serif;
    padding-left: 10%;
}

.funInfo{
    font-size: 18px;
    font-family:  'Zen Kaku Gothic New', sans-serif;
    padding-left: 10%;
}

.resume{
    font-size: 30px;
    font-family:  'Zen Kaku Gothic New', sans-serif;
    padding-left: 10%;

}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagesContainer{
    padding-top: 10%;
}



