.papayePagePadding{
    padding: 5%;
}

.pageTitle{
    font-size: xx-large;
    font-family: "Bubble Letters";
    color:rgb(255, 102, 0);

}

.background{
    font-size: 26px;
    color: black;
    padding-left: 7%;
    padding-right: 10%;
}



.problemTitle, .researchTitle, .processTitle, .solutionTitle{
    font-size: large;
    font-family: "Liquid";
    color: black
}

.navBar{
    display: flex;
    justify-content: space-between;
}


 .goToRole, .goToResearch, .goToSolution, .goToProcess, .goToTakeaways, .goToProblem{
    color: black;
    font-family: Ringle;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
    background: none;
 }

 .sitesContainer{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: space-around;
    margin-left: 7%;
    margin-right: 7%;
 }




 .originalSite:hover, .myRedesign:hover{
    transform: scale(1.1);
    border: 1px solid rgb(255, 98, 0);
 }


 .problemSectionInfo, .researchSectionInfo, .processSectionInfo, .solutionSectionInfo{
    padding-left: 4%;
    padding-right: 4%;
 }

 .problemDescription, .researchDescription, .processDescription, .solutionDescription{
    font-size: 22px;
    color: rgb(28, 28, 28);
    font-family: "Ringle";
    line-height: 28px;
 }

 .problemSectionPhotos{
    width: auto;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(246, 178, 59);
    border-radius: 1.75%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }


 .problemImage1, .problemImage2, .problemImage3{
    padding-right: 5%;
    width: 300px;
    height: 250px;

 }


 .solutionImage2{
    display: flex;
    flex-direction: row;
 }






#processPhotos{
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(246, 178, 59);
    border-radius: 1.75%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.solutionPhotos1{
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7%;
    background-color: rgb(246, 178, 59);
    border-radius: 1.75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.solutionImage1{
    display: flex;
    flex-direction: column;
}

.solutionImage1Info{
    width: 400px;
    margin-bottom: 10%;
}


.papayeWebsite{
    display: flex;
    flex-direction: column;
}

.spaceArrow{
    width: 50px;
}

.solution2OuterContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
}

.solution2ImageCard{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    overflow: hidden;
}

.solutionImage2InfoCard{
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;

}

.navBarSolutionInfo, .sitesCardInfo{
    width: 900px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;

}

.userFlow{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}


