.papayePagePadding{
    padding-left: 5%;
}

#papayeProblemImages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.papayeOverlay:hover{
    opacity: 1;
}

.papayeOverlay:hover a {
    text-decoration: underline;
}