#aboutButton, #portfolioButton, #reachOutButton {
    border: none;
    font-size: 55px;
    font-weight: bolder;
    color:rgb(255, 102, 0);;
    font-family: "Bubble Letters"; 
    box-shadow: none;
    background: none;
    transition: transform 0.3s;
}

#aboutButton:hover, #portfolioButton:hover, #reachOutButton:hover{
 transform: scale(1.1);
}

.homePage{
    padding-top: 2%;

}

#homepageTitle{
    font-family: "Bubble Letters";
    color:black;

}

.navBar{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.angieOsei{
    color: black;
    border: none;
    font-family: Liquid;
    font-size: 30px;
    font-weight: bold;
    box-shadow: none;
    background: none;
}




.navBarAbout, .navBarResume, .navBarContact, .navBarProjects {
    color: rgb(255, 102, 0);
    border: none;
    font-family: Liquid;
    font-size: 30px;
    font-weight: bold;
    box-shadow: none;
    background: none;

}




#intro{
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: "Bubble Letters";
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 10%;

   
}


#homePage{
    padding-top: 5%;
    padding-left: 12%;
    padding-right: 8% ;
}


